<div class="container">
    <div class="navbar">
        <div class="logo">
            <img height="70px" src="../assets/img/icone-meu-time.png" />
            Meu Time
        </div>
    </div>

    <div class="conteudo">
        <router-outlet></router-outlet>
    </div>
    <div class="footer">
        <img class="direito-autoral" src="../assets/img/direito-autoral-white.png" alt="Direitos reservados">

        <div class="direito-autoral-texto">
            Meu Time - Todos os direitos reservados.
        </div>

    </div>
</div>