<div class="container">
    <div class="card mt-5">
        <div class="grid">
            <div class="xl:col-offset-3 xl:col-6 col-12">
                <p-card header="Autentique-se">
                    <p-breadcrumb class="max-w-full" [model]="itens" [home]="home"></p-breadcrumb>

                    <div class="form">
                        <form action="">
                            <label for="key-api">API key</label>
                            <input class="input" id="key-api" type="text" pInputText maxlength="32" />
                            <div class="flex justify-content-end">
                                <button pButton label="Submit" class="p-button-success"></button>
                            </div>

                        </form>

                    </div>



                </p-card>
            </div>
        </div>
    </div>
</div>